*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: black;
    color: #fff;
}

.container{
    display: flex;
    justify-content: center;
}

.container > button{
    height: 20vh;
    width: 20vw;
}